.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #212631;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #212631;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hello-user {
  font-size: xx-large;
  font-weight: bold;
    color: #f3f4f7;
}

.header-buttons {
  display: flex;
  gap: 10px;
}


.buy-key, .logout, .payment {
  padding: 10px 20px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #30475E;
  color: #f3f4f7;
}

.buy-key:hover {
    background-color: #249542;
}

.logout:hover {
    background-color: #db5d5d;
}

.payment:hover {
    background-color: #edad21;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  margin-top: 150px;
}

.dropdown {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.request-button {
  background-color: #6261cc;
  color: #f3f4f7;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  width: auto;
}

.request-button:hover {
  background-color: #4f4e9f;
}

.modal {
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.payment-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.centerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  margin-left: 3px;
  margin-right: 3px;
}

.metrics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  color: #f3f4f7;
  width: 100%;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}

.metric-title {
  font-size: larger;
  font-weight: bold;
}

.metric-value {
  font-size: medium;
}